# Connect with Database

In [1]:
import mysql.connector
from getpass import getpass
from datetime import datetime, date, time, timedelta
import pandas as pd
user = input('User name: ') #root
pwd = getpass('Password')

my_db = None

try:
    my_db = mysql.connector.connect (host = 'localhost' , user = user, password = pwd, database = 'jtm_database')
    print('Successfully connected to the database')

except Exception as e:
    print('Something went wrong while attempting to connect the database')
    if my_db is not None: 
        my_db.rollback()
        print(f' >>> {e}')
finally:
    if my_db is not None:
        my_db.rollback()
        print('Database closed')

User name: root
Password········
Successfully connected to the database
Database closed

In [8]:
my_pointer = my_db.cursor()

while True:
    i_q = input('Would you like to Insert or Query data? : "i" for Insert or "q" for Query ??')
    if i_q == 'q' or i_q == 'i':
        break
    else:
        print('Please insert only i or q...')
############### INSERT ################
if i_q == 'i':
    while True:
        try:
            memberID = int(input('Insert memberID (Number) with 3 numbers only: '))
            if len(str(memberID)) != 3:
                raise ValueError
            else:
                break
        except ValueError:
            print('Please insert exactly 3 numbers.')
    ####CHECK WHETHER IN memberdetails####
    memde = "select memberID\
        from memberdetails as mem\
        ;"
    my_pointer.execute(memde)
    allmember_lst1 =  my_pointer.fetchall()
    df_1 = pd.DataFrame(allmember_lst1, columns=['Member ID'])
    df_1 = df_1.to_numpy()
    if f"member{memberID}" not in df_1:
        while True: 
            try: 
                name = input('Insert your Name (Characture) :'   )
                if int == int(name):
                    pass
            except:
                break
        while True:
            M_W = input('Are you men or women?? type: "m" for men "w" for women')
            if M_W == 'm' or M_W == 'w' or M_W == 'M' or M_W == 'W':
                break
            else:
                print('Please insert only m or w...')

        while True:
            try:
                weight = int(input('Insert weight(kg.) (Number):'   ))
                break
            except:
                print('Please Insert number :...')

        while True:
            try:
                height = int(input('Insert height(cm.) (Number):'   ))
                break
            except:
                print('Please Insert number :...')
        # insert to database
        insert_to_memberdetails = "INSERT INTO memberdetails (memberID, Name, Gender, Weight, Height) VALUES (%s, %s, %s, %s, %s)"
        val = (f"member{memberID}", f"{name}", f"{M_W}", f"{weight}", f"{height}")
        my_pointer.execute(insert_to_memberdetails, val)
        my_db.commit()
    ####CHECK WHETHER IN fooddetails####
    menuu = "select Menu\
        from fooddetails\
        ;"
    my_pointer.execute(menuu)
    menu_lst1 = my_pointer.fetchall()
    df_2 = pd.DataFrame(menu_lst1, columns=['Menu'])
    df_2 = df_2.to_numpy()
 
    menu = input('Insert your Menu (String): ')

    if menu not in df_2:
        while True:
            try:
                menu_type = input('Insert your Menu type เครื่องดื่ม อาหารคาว ผลไม้ นม ขนม (String): ')
                if menu_type.isalpha() and menu_type in ['เครื่องดื่ม','อาหารคาว','ผลไม้','นม','ขนม']:
                    break
                else:
                    raise ValueError
            except ValueError:
                print('Please insert a string.>>เครื่องดื่ม อาหารคาว ผลไม้ นม ขนม (String)')
        while True:
            try:
                calories = int(input('Insert Calories (Number):'   ))
                break
            except:
                print('Please Insert number of Calories :...')
        # insert to database
        insert_to_fooddetails = "INSERT INTO fooddetails (Menu, Category, calories) VALUES (%s, %s, %s)"
        val = (f"{menu}", f"{menu_type}", f"{calories}")
        my_pointer.execute(insert_to_fooddetails, val)
        my_db.commit()
    ####Collect data to prepare to insert to foodtracker table ####
    while True:
        try:
            channel = input('Insert your channel (Number): 1.Take away 2.vending kiosk 3. delivery 4.dine-in 5.Others ')
            channel = int(channel)
            if 1 <= channel <= 5:
                break
            else:
                raise ValueError
        except ValueError:
            print('Please insert a number between 1 and 5.where 1.Take away 2.vending kiosk 3. delivery 4.dine-in 5.Others')

    #INSERT day mounth year
    while True:
        try:
            year = input('Insert Year ex: 2023 ')
            year = int(year)
            if 1 <= year <= 2023:
                break
            else:
                raise ValueError
        except ValueError:
            print('Please insert a number between 1 and 2023')
    while True:
        try:
            month = input('Insert Month ex: 5 ')
            month = int(month)
            if 1 <= month <= 12:
                break
            else:
                raise ValueError
        except ValueError:
            print('Please insert a number between 1 and 12')
    while True:
        try:
            day = input('Insert Day ex: 31 ')
            day = int(day)
            if 1 <= day <= 31:
                break
            else:
                raise ValueError
        except ValueError:
            print('Please insert a number between 1 and 31')   

    specific_date = date(year, month, day)

    while True:
        try:
            val_meal = {1: 'เช้า',2: 'สาย',3: 'กลางวัน',4: 'บ่าย',5: 'เย็น',6: 'ค่ำ',}
            meal = input('Insert your meal (Number): 1.เช้า 2.สาย 3.กลางวัน 4.บ่าย 5.เย็น 6.ค่ำ ')
            meal = int(meal) 
            if 1 <= meal <= 6:
                break
            else:
                raise ValueError
        except ValueError:
            print('Please insert a number between 1 and 6 where 1.เช้า 2.สาย 3.กลางวัน 4.บ่าย 5.เย็น 6.ค่ำ :')

    while True:
        try:
            shop_name = input('Insert your shop name (String): ')
            if shop_name.isalpha():
                break
            else:
                raise ValueError
        except ValueError:
            print('Please insert a string: ')

    while True:
        try:
            food_price = int(input('Insert price (Number):'   ))
            break
        except:
            print('Please Insert number :...')
    
    # insert to database
    insert_to_foodtracker = "INSERT INTO foodtracker (memberID, date, meal, menu, channel, shopName, price) VALUES (%s, %s, %s, %s, %s,%s, %s)"
    val = (f"member{memberID}", specific_date, val_meal[meal], menu, channel, shop_name, food_price)
    my_pointer.execute(insert_to_foodtracker, val)
    my_db.commit()










################## quiry ################
if i_q == 'q':
    re_ = 'y'
    while re_ == 'y' or re_ == 'Y':
        while True:
            try:
                ans_ = int(input('Insert number 1-5: '))
                if ans_ == 1 or ans_ == 2 or ans_ == 3 or ans_ == 4 or ans_ == 5 :
                    break
                else:
                    raise
            except:
                print('Insert between 1-5')
                
        if ans_ == 1:
                while True:
                    try:
                        print('1.สมาชิกแต่ละคนใช้เงินทั้งหมดไปเท่าไหร่ในการซื้ออาหารที่มีแคลอรี่ต่อชิ้นไม่เกิน xxx แคลอรี่')
                        num = int(input('Insert the maximum calories that you want to calculate: '))
                        query = f"SELECT ft.memberID\
                            , ft.menu, fd.calories\
                            , SUM(price)\
                            FROM foodtracker AS ft\
                            JOIN fooddetails AS fd ON fd.Menu = ft.menu\
                            WHERE fd.calories <= {num}\
                            GROUP BY memberID\
                            , menu\
                            order by memberID;"
                        my_pointer.execute(query)
                        query_result = my_pointer.fetchall()
                        df = pd.DataFrame(query_result, columns=['Member ID', 'Menu', 'Calories per one piece', 'SUM(price)'])
                        display(df)
                        break
                    except ValueError:
                        print('Please insert a valid number.')
        elif ans_ == 2:
            print('2.ประเภทอาหารที่สมาชิกกิน แต่ละชนิดมีราคาทั้งหมด แคลอรี่ทั้งหมด จำนวนการสั่งอาหารประเภทนี้ และแคลอรี่เฉลี่ยต่อจำนวนการสั่ง เท่าไหร่')
            test_2 = f"select memberID\
                ,f.Category\
                ,sum(f.calories) as 'total_calories'\
                ,sum(price) as 'total_price'\
                ,count(*) as 'no_order'\
                ,round(sum(f.calories)/count(*),2) as 'calories_per_order'\
                from foodtracker as trac\
                left join fooddetails as f on trac.menu = f.menu\
                group by memberID\
                ,f.Category\
                order by total_calories desc;"
            my_pointer.execute(test_2)
            lst_2 =  my_pointer.fetchall()
            df = pd.DataFrame(lst_2, columns=['Member ID', 'Category', 'Sum of calories', 'Sum of price', 'Number of order', 'Calories per order'])
            display(df)
        elif ans_ == 3:
            print('3.ในมื้ออาหารแต่ละมื้อสมาชิกแต่ละคนกินไปทั้งหมดกี่แคลอรี่')
            test_3 = f"select ft.memberID\
            ,md.Name\
            ,ft.meal\
            ,sum(fd.calories) as 'total_calories_meal'\
            from foodtracker as ft\
            left join fooddetails as fd ON fd.Menu = ft.menu\
            left join memberdetails as md on md.memberID = ft.memberID\
            group by ft.memberID\
            ,ft.meal\
            order by memberID;"
            my_pointer.execute(test_3)
            lst_3 =  my_pointer.fetchall()
            df = pd.DataFrame(lst_3, columns=['Member ID', 'Name', 'Meal', 'Total calories'])
            display(df)

        elif ans_ == 4:
            print('4.สมาชิกแต่ละคนสั่งอาหารตามช่องทางต่างๆไปจำนวนเท่าไหร่')
            test_4 = f"select  ft.memberID\
                ,ft.channel\
                ,count(channel) as 'total_order_of_member'\
                ,cn.ChannelName\
                from foodtracker as ft\
                left join channel as cn on cn.ChannelID = ft.channel\
                group by memberID \
                ,channel\
                order by memberID ;"
            my_pointer.execute(test_4)
            lst_4 =  my_pointer.fetchall()
            df = pd.DataFrame(lst_4, columns=['Member ID', 'ChannelID', 'Number of order', 'Channel name'])
            display(df)

        elif ans_ == 5:
            print('5.ในช่วงเวลาหนึ่งสมาชิกแต่ละคนสั่งเมนูต่างๆไปจำนวนกี่ครั้ง')
            test_5 = f"select ft.memberID\
                ,md.Name\
                ,ft.menu\
                ,count(menu) as 'total_num_menu'\
                from foodtracker as ft\
                left join memberdetails as md on md.memberID = ft.memberID\
                where ft.date between '2023-01-01' and '2023-12-31'\
                group by ft.memberID\
                ,ft.menu\
                order by memberID ;"
            my_pointer.execute(test_5)
            lst_5 =  my_pointer.fetchall()
            lst_5
            df = pd.DataFrame(lst_5, columns=['Member ID', 'ChannelID', 'Menu', 'Number of menu'])
            display(df)

        re_ = input('Do you want to ask again ? please insert "Y" or Any to quit...')

Would you like to Insert or Query data? : "i" for Insert or "q" for Query ??q
Insert number 1-5: 1
1.สมาชิกแต่ละคนใช้เงินทั้งหมดไปเท่าไหร่ในการซื้ออาหารที่มีแคลอรี่ต่อชิ้นไม่เกิน xxx แคลอรี่
Insert the maximum calories that you want to calculate: 200

    Member ID                 Menu  Calories per one piece  SUM(price)
0   member001                 M150                    90.0        20.0
1   member001       M150 ปีโป้ปั่น                    90.0        80.0
2   member001  unif น้ำผักผลไม้รวม                   180.0       130.0
3   member001        Woody C+ Lock                    30.0        30.0
4   member001                 กาแฟ                    90.0       105.0
5   member001          กาแฟกระป๋อง                    90.0        70.0
6   member001               กาแฟดำ                    90.0        20.0
7   member001           กาแฟดำเย็น                    90.0        75.0
8   member001             กาแฟร้อน                    90.0        20.0
9   member001              ซาลาเปา                   180.0        40.0
10  member001             น้ำเปล่า                     0.0        10.0
11  member001                ฝรั่ง                    38.0        10.0
12  member001              โจ๊กหมู                   160.0        23.0
13  member001             โอเลี้ยง                    90.0        20.0
14  member001               ไข่ต้ม                   160.0        16.0
15  member002             espresso                     5.0         0.0
16  member002                กล้วย                    89.0         8.0
17  member002           กาแฟมอคค่า                   197.0        40.0
18  member002           ขนมจีบกุ้ง                   120.0        59.0
19  member002  ชาเขียวองุ่นเคียวโห                    80.0         0.0
20  member002               ติ่มซำ                   108.0        39.0
21  member002                นมจืด                   100.0         0.0
22  member002                ฝรั่ง                    38.0        30.0
23  member002            ฟักทองทอด                   150.0        79.0
24  member002          มันฝรั่งทอด                   160.0        30.0
25  member002                ลาเต้                    45.0         0.0
26  member002                อกไก่                    90.0        80.0
27  member002            อเมริกาโน                    30.0        70.0
28  member002              ไก่ปิ้ง                   170.0        30.0
29  member002                ไอติม                   130.0        40.0
30  member003      ก๋วยเตี๋ยวน้ำตก                   180.0        40.0
31  member003  ก๋วยเตี๋ยวเรือน้ำตก                   180.0        35.0
32  member003             กาแฟเย็น                   130.0        10.0
33  member003            ข้าวหมูอบ                   174.0        50.0
34  member003       ข้าวเหนียวปิ้ง                    97.0        20.0
35  member003                ชมพู่                    31.0        20.0
36  member003              บราวนี่                   180.0         0.0
37  member003        ส้มตำปูปลาร้า                   139.0        60.0
38  member003         ส้มตำไข่เค็ม                   172.0        50.0
39  member004               กาแฟนม                    68.0         0.0
40  member004       ขนมจีนแกงไตปลา                    85.0        40.0
41  member004           ขนมจีบกุ้ง                   120.0        22.0
42  member004        ขนมปังหน้าหมู                   149.0        40.0
43  member004           ข้าวเหนียว                    97.0        30.0
44  member004        คะนอร์โจ๊กคัพ                   120.0        18.0
45  member004          ชีโต้สรสชีส                   170.0        20.0
46  member004                 ซูชิ                   198.0       238.0
47  member004             นมสดเย็น                   125.0       125.0
48  member004    นมเปรี้ยวบีทาเก้น                    90.0        19.0
49  member004             น้ำตกหมู                   165.0        35.0
50  member004           น้ำส้มปั่น                    44.0        40.0
51  member004            ปลานิลเผา                   131.0       120.0
52  member004                ส้มตำ                    40.0        60.0
53  member004                 สลัด                    88.0       180.0
54  member004          สาหร่ายกุ้ง                   110.0        20.0
55  member004            หอยลายลวก                    60.0       200.0
56  member004            เป็ดพะโล้                   110.0        45.0
57  member004                 เลย์                   160.0       110.0
58  member123               โอริโอ                   200.0        20.0

Do you want to ask again ? please insert "Y" or Any to quit...y
Insert number 1-5: 2
2.ประเภทอาหารที่สมาชิกกิน แต่ละชนิดมีราคาทั้งหมด แคลอรี่ทั้งหมด จำนวนการสั่งอาหารประเภทนี้ และแคลอรี่เฉลี่ยต่อจำนวนการสั่ง เท่าไหร่

,Member ID,Category,Sum of calories,Sum of price,Number of order,Calories per order
0,member001,อาหารคาว,25675.0,2061.0,52,493.75
1,member003,อาหารคาว,22673.0,2638.0,60,377.88
2,member004,อาหารคาว,21127.0,3984.0,65,325.03
3,member002,อาหารคาว,16332.0,5445.0,42,388.86
4,member004,เครื่องดื่ม,8736.0,1064.0,26,336.00
5,member001,เครื่องดื่ม,7666.0,925.0,40,191.65
6,member001,ขนม,5236.0,237.0,14,374.00
7,member001,นม,3120.0,245.0,11,283.64
8,member003,ขนม,2650.0,255.0,9,294.44
9,member002,ขนม,1948.0,169.0,6,324.67
10,member004,ขนม,1934.0,225.0,9,214.89
11,member002,เครื่องดื่ม,1225.0,355.0,15,81.67
12,member004,นม,750.0,125.0,6,125.00
13,member123,อาหารคาว,585.0,45.0,1,585.00
14,member123,ขนม,200.0,20.0,1,200.00
15,member003,เครื่องดื่ม,130.0,10.0,1,130.00
16,member002,ผลไม้,127.0,38.0,2,63.50
17,member002,นม,100.0,0.0,1,100.00
18,member001,ผลไม้,38.0,10.0,1,38.00
19,member003,ผลไม้,31.0,20.0,1,31.00

Do you want to ask again ? please insert "Y" or Any to quit...y
Insert number 1-5: 3
3.ในมื้ออาหารแต่ละมื้อสมาชิกแต่ละคนกินไปทั้งหมดกี่แคลอรี่

    Member ID       Name     Meal  Total calories
0   member001       ปิติ  กลางวัน         13278.0
1   member001       ปิติ      ค่ำ          8759.0
2   member001       ปิติ     บ่าย          3348.0
3   member001       ปิติ      สาย           600.0
4   member001       ปิติ     เช้า          5040.0
5   member001       ปิติ     เย็น         10710.0
6   member002     ดวงดาว  กลางวัน          4249.0
7   member002     ดวงดาว      ค่ำ           738.0
8   member002     ดวงดาว     บ่าย          4672.0
9   member002     ดวงดาว      สาย          2830.0
10  member002     ดวงดาว     เช้า          1392.0
11  member002     ดวงดาว     เย็น          5851.0
12  member003       มานะ  กลางวัน          8261.0
13  member003       มานะ      ค่ำ          1215.0
14  member003       มานะ     บ่าย           750.0
15  member003       มานะ      สาย          1386.0
16  member003       มานะ     เช้า          5198.0
17  member003       มานะ     เย็น          8674.0
18  member004       มานี  กลางวัน         12479.0
19  member004       มานี      ค่ำ           730.0
20  member004       มานี     เช้า          9181.0
21  member004       มานี     เย็น         10157.0
22  member123  พัชรพฤกษ์  กลางวัน           585.0
23  member123  พัชรพฤกษ์     บ่าย           200.0

Do you want to ask again ? please insert "Y" or Any to quit...y
Insert number 1-5: 4
4.สมาชิกแต่ละคนสั่งอาหารตามช่องทางต่างๆไปจำนวนเท่าไหร่

    Member ID ChannelID  Number of order   Channel name
0   member001         1               96      take away
1   member001         2               21  vending kiosk
2   member001         3                1       delivery
3   member002         1               10      take away
4   member002         2                6  vending kiosk
5   member002         3               26       delivery
6   member002         4                9        dine-in
7   member002         5               15         Others
8   member003         1               55      take away
9   member003         3                6       delivery
10  member003         4                3        dine-in
11  member003         5                7         Others
12  member004         1               19      take away
13  member004         2               22  vending kiosk
14  member004         3               53       delivery
15  member004         4                9        dine-in
16  member004         5                3         Others
17  member123         1                2      take away

Do you want to ask again ? please insert "Y" or Any to quit...y
Insert number 1-5: 5
5.ในช่วงเวลาหนึ่งสมาชิกแต่ละคนสั่งเมนูต่างๆไปจำนวนกี่ครั้ง

     Member ID  ChannelID                          Menu  Number of menu
0    member001       ปิติ                          M150               2
1    member001       ปิติ                M150 ปีโป้ปั่น               4
2    member001       ปิติ  Pork-Chicken Steak and salad               1
3    member001       ปิติ           unif น้ำผักผลไม้รวม               4
4    member001       ปิติ                      vitamilk               3
..         ...        ...                           ...             ...
217  member004       มานี                       ไก่ย่าง               1
218  member004       มานี            ไก่ย่างวิเชียรบุรี               1
219  member004       มานี                ไส้กรอกเวียนนา               1
220  member123  พัชรพฤกษ์                    ข้าวมันไก่               1
221  member123  พัชรพฤกษ์                        โอริโอ               1

[222 rows x 4 columns]

Do you want to ask again ? please insert "Y" or Any to quit...a